<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{operacion}} localizacion</div>
            <div class="card-body">
                <form [formGroup]="formLocalizacion" (ngSubmit)="addLocalizacion()">
                    <input formControlName="name" type="text" class="form-control" placeholder="Ingrese nombre">
                    <span *ngIf="formLocalizacion.get('name')?.hasError('required') && formLocalizacion.get('name')?.touched">
                        El campo nombre es <strong>requerido</strong>
                    </span>
                    <input formControlName="localizacion" type="text" class="form-control mt-2" placeholder="Ingrese localizacion">
                    <span *ngIf="formLocalizacion.get('localizacion')?.hasError('required') && formLocalizacion.get('localizacion')?.touched">
                        El campo localizacion es <strong>requerido</strong>
                    </span>
                    <input formControlName="veces" type="number" class="form-control mt-2" placeholder="Ingrese el numero de veces">
                    <span *ngIf="formLocalizacion.get('veces')?.hasError('veces') && formLocalizacion.get('veces')?.touched">
                        El campo precio es <strong>requerido</strong>
                    </span>
                    <input formControlName="ticket" type="string" class="form-control mt-2" placeholder="Ingrese id ticket">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button (click)="goBack()" type="button" class="btn btn-secondary">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="formLocalizacion.invalid" type="submit" class="btn btn-primary">{{operacion}}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
